
/* BASIC STYLING */

body{
    background: var(--backgroundImage);
    background-size:cover;
    text-align: center;
}

h1{
    color: var(--headingColor);
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

main, #input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

input{
    width: 35vw;
    border-radius: 5px;
    border-width: 3px;
    padding: 1vh 2vw;
    font-size: 18px;
    text-align: center;
    border: none;
}


button{
    margin-top: 3vh;
    background-color: var(--buttonBackground);
    color: var(--buttonText);
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
}

button:hover{
    transition: 0.25s;
    background-color: var(--buttonHoverBackground);
    color: var(--buttonHoverColor);
    cursor: pointer;
}


/* SIDEBAR & BUTTONS */
#change-theme-btn{
    position:absolute;
    right: 2vw;
    top: 2vh;
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    padding: 8px 16px;
    border-radius: 5px;
    color: black;
    font-family: sans-serif;
}


#change-theme-btn:hover{
    transition: 0.25s;
    background-color: black;
    border: 2px solid white;
    color: white;

}

#sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--sidebarColor);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5vh;
}

#close-sidebar-btn{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 5vh;
    background: none;
}

.theme-buttons {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    
  }

  .theme-buttons a{
    width: fit-content;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 2vh 1vh;
    font-family: 20px;
    color: black;
    text-decoration: none;
    background-color: white;
    font-family: sans-serif;
  }

  #galaxy{
        border: 2px solid rgb(83, 83, 83);
        background-color: lightgray;
        box-shadow: 5px 5px white;
    }

    #galaxy:hover{
        transition: 0.25s;
        border: 2px solid white;
        box-shadow: 5px 5px rgb(83, 83, 83);
    }

  #pastel{
      border: 2px solid palevioletred;
      background-color: pink;
      box-shadow: 5px 5px white;
  }

  #pastel:hover{
    transition: 0.25s;
    border: 2px solid white;
    box-shadow: 5px 5px palevioletred;
  }

  #ocean{
    border: 2px solid #0a1545;
    background-color: #BCD6E0;
    box-shadow: 5px 5px white;
  }

  #ocean:hover{
    transition: 0.25s;
    border: 2px solid white;
    box-shadow: 5px 5px #0a1545;
  }

  #flames{
    border: 2px solid #ff8e24;
    background-color: #ffd770;
    box-shadow: 5px 5px white;
  }

  #flames:hover{
    transition: 0.25s;
    border: 2px solid white;
    box-shadow: 5px 5px #ff8e24;
  }

  #zen{
    border: 2px solid burlywood;
    background-color: beige;
    box-shadow: 5px 5px white;
  }

  #zen:hover{
    transition: 0.25s;
    border: 2px solid white;
    box-shadow: 5px 5px burlywood;
  }

  #nature{
    border: 2px solid darkgreen;
    background-color: #d1f0c2;
    box-shadow: 5px 5px white;
  }

  #nature:hover{
    transition: 0.25s;
    border: 2px solid white;
    box-shadow: 5px 5px darkgreen;
  }


/* ANIMATION */

#animate-block{
    height: 25vh;
    width: 65vw;
    margin-bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-family: sans-serif;
}


#animate-block.animate{
    animation: text-animation 1.5s linear 0.25s;
    color: var(--animateTextColor);
}

@keyframes text-animation{
    0.0%{
        opacity: 0;
        transform: translate(0,10vh);
    }
    100%{
        opacity: 0;
        transform: translate(0, -10vh);
    }
    50%{
        opacity: 1;
    }

}

/* THEMES */
/* Default theme is galaxy */
.galaxy{
    --backgroundImage: url("https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    --headingColor: grey;
    --buttonBackground: gray;
    --buttonText: white;
    --animateTextColor: white;
    --buttonHoverBackground: white;
    --buttonHoverColor: grey;
    --sidebarColor: black;
}

.pastel{
        --backgroundImage: url("https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
        background-position: center;
        --headingColor: white;
        --buttonBackground: palevioletred;
        --buttonText: white;
        --animateTextColor: white;
        --buttonHoverBackground: white;
        --buttonHoverColor: palevioletred;
        --sidebarColor: lightpink;
}

.ocean{
    --backgroundImage: url("https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    --headingColor: white;
    --buttonBackground: #0a1545;
    --buttonText: white;
    --animateTextColor: #0a1545;
    --buttonHoverBackground: white;
    --buttonHoverColor: #0a1545;
    --sidebarColor: #BCD6E0;
}

.flames{
    --backgroundImage: url("https://images.unsplash.com/photo-1635194983462-4975a0abeaa7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80");
    background-position: center;
    --headingColor: #ffd77075;
    --buttonBackground: #ff8e24;
    --buttonText: white;
    --animateTextColor: #ff8e24;
    --buttonHoverBackground: white;
    --buttonHoverColor: #ff8e24;
    --sidebarColor: #ffd770;
}

.zen{
    --backgroundImage: url("https://images.unsplash.com/photo-1608114759160-ad0b1bac35b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
    --headingColor: #827d70;
    --buttonBackground: #827d70;
    --buttonText: white;
    --animateTextColor: #827d70;
    --buttonHoverBackground: white;
    --buttonHoverColor: #827d70;
    --sidebarColor: #dddacc;
}

.nature{
    --backgroundImage: url("https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1774&q=80");
    --headingColor: #799478;
    --buttonBackground: darkgreen;
    --buttonText: white;
    --animateTextColor: darkgreen;
    --buttonHoverBackground: white;
    --buttonHoverColor: darkgreen;
    --sidebarColor: #d1f0c2;
}



